<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xk.myblogs.service.mapper.ryvue.GenTableMapper">
  <resultMap id="BaseResultMap" type="com.xk.myblogs.client.entity.ryvue.GenTable">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    <id column="table_id" jdbcType="BIGINT" property="tableId" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="table_comment" jdbcType="VARCHAR" property="tableComment" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="tpl_category" jdbcType="VARCHAR" property="tplCategory" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="business_name" jdbcType="VARCHAR" property="businessName" />
    <result column="function_name" jdbcType="VARCHAR" property="functionName" />
    <result column="function_author" jdbcType="VARCHAR" property="functionAuthor" />
    <result column="gen_type" jdbcType="CHAR" property="genType" />
    <result column="gen_path" jdbcType="VARCHAR" property="genPath" />
    <result column="options" jdbcType="VARCHAR" property="options" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    table_id, table_name, table_comment, class_name, tpl_category, package_name, module_name, 
    business_name, function_name, function_author, gen_type, gen_path, options, create_by, 
    create_time, update_by, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    select 
    <include refid="Base_Column_List" />
    from gen_table
    where table_id = #{tableId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    delete from gen_table
    where table_id = #{tableId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xk.myblogs.client.entity.ryvue.GenTable">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    insert into gen_table (table_id, table_name, table_comment, 
      class_name, tpl_category, package_name, 
      module_name, business_name, function_name, 
      function_author, gen_type, gen_path, 
      options, create_by, create_time, 
      update_by, update_time, remark
      )
    values (#{tableId,jdbcType=BIGINT}, #{tableName,jdbcType=VARCHAR}, #{tableComment,jdbcType=VARCHAR}, 
      #{className,jdbcType=VARCHAR}, #{tplCategory,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, 
      #{moduleName,jdbcType=VARCHAR}, #{businessName,jdbcType=VARCHAR}, #{functionName,jdbcType=VARCHAR}, 
      #{functionAuthor,jdbcType=VARCHAR}, #{genType,jdbcType=CHAR}, #{genPath,jdbcType=VARCHAR}, 
      #{options,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xk.myblogs.client.entity.ryvue.GenTable">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    insert into gen_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        table_id,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="tableComment != null">
        table_comment,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="tplCategory != null">
        tpl_category,
      </if>
      <if test="packageName != null">
        package_name,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="businessName != null">
        business_name,
      </if>
      <if test="functionName != null">
        function_name,
      </if>
      <if test="functionAuthor != null">
        function_author,
      </if>
      <if test="genType != null">
        gen_type,
      </if>
      <if test="genPath != null">
        gen_path,
      </if>
      <if test="options != null">
        options,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        #{tableId,jdbcType=BIGINT},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableComment != null">
        #{tableComment,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="tplCategory != null">
        #{tplCategory,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null">
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="functionName != null">
        #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="functionAuthor != null">
        #{functionAuthor,jdbcType=VARCHAR},
      </if>
      <if test="genType != null">
        #{genType,jdbcType=CHAR},
      </if>
      <if test="genPath != null">
        #{genPath,jdbcType=VARCHAR},
      </if>
      <if test="options != null">
        #{options,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xk.myblogs.client.entity.ryvue.GenTable">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    update gen_table
    <set>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableComment != null">
        table_comment = #{tableComment,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="tplCategory != null">
        tpl_category = #{tplCategory,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null">
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="functionName != null">
        function_name = #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="functionAuthor != null">
        function_author = #{functionAuthor,jdbcType=VARCHAR},
      </if>
      <if test="genType != null">
        gen_type = #{genType,jdbcType=CHAR},
      </if>
      <if test="genPath != null">
        gen_path = #{genPath,jdbcType=VARCHAR},
      </if>
      <if test="options != null">
        options = #{options,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where table_id = #{tableId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xk.myblogs.client.entity.ryvue.GenTable">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    update gen_table
    set table_name = #{tableName,jdbcType=VARCHAR},
      table_comment = #{tableComment,jdbcType=VARCHAR},
      class_name = #{className,jdbcType=VARCHAR},
      tpl_category = #{tplCategory,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      module_name = #{moduleName,jdbcType=VARCHAR},
      business_name = #{businessName,jdbcType=VARCHAR},
      function_name = #{functionName,jdbcType=VARCHAR},
      function_author = #{functionAuthor,jdbcType=VARCHAR},
      gen_type = #{genType,jdbcType=CHAR},
      gen_path = #{genPath,jdbcType=VARCHAR},
      options = #{options,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where table_id = #{tableId,jdbcType=BIGINT}
  </update>
</mapper>