<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xk.myblogs.service.mapper.ryvue.QrtzPausedTriggerGrpsMapper">
  <resultMap id="BaseResultMap" type="com.xk.myblogs.client.entity.ryvue.QrtzPausedTriggerGrpsKey">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    <id column="sched_name" jdbcType="VARCHAR" property="schedName" />
    <id column="trigger_group" jdbcType="VARCHAR" property="triggerGroup" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.xk.myblogs.client.entity.ryvue.QrtzPausedTriggerGrpsKey">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    delete from qrtz_paused_trigger_grps
    where sched_name = #{schedName,jdbcType=VARCHAR}
      and trigger_group = #{triggerGroup,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xk.myblogs.client.entity.ryvue.QrtzPausedTriggerGrpsKey">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    insert into qrtz_paused_trigger_grps (sched_name, trigger_group)
    values (#{schedName,jdbcType=VARCHAR}, #{triggerGroup,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xk.myblogs.client.entity.ryvue.QrtzPausedTriggerGrpsKey">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    insert into qrtz_paused_trigger_grps
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schedName != null">
        sched_name,
      </if>
      <if test="triggerGroup != null">
        trigger_group,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schedName != null">
        #{schedName,jdbcType=VARCHAR},
      </if>
      <if test="triggerGroup != null">
        #{triggerGroup,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>