<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xk.myblogs.service.mapper.ryvue.QrtzLocksMapper">
  <resultMap id="BaseResultMap" type="com.xk.myblogs.client.entity.ryvue.QrtzLocksKey">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    <id column="sched_name" jdbcType="VARCHAR" property="schedName" />
    <id column="lock_name" jdbcType="VARCHAR" property="lockName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.xk.myblogs.client.entity.ryvue.QrtzLocksKey">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    delete from qrtz_locks
    where sched_name = #{schedName,jdbcType=VARCHAR}
      and lock_name = #{lockName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xk.myblogs.client.entity.ryvue.QrtzLocksKey">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    insert into qrtz_locks (sched_name, lock_name)
    values (#{schedName,jdbcType=VARCHAR}, #{lockName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xk.myblogs.client.entity.ryvue.QrtzLocksKey">
    <!--
      WARNING - @mbg.generated MyBatis Generator Create
    -->
    insert into qrtz_locks
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schedName != null">
        sched_name,
      </if>
      <if test="lockName != null">
        lock_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schedName != null">
        #{schedName,jdbcType=VARCHAR},
      </if>
      <if test="lockName != null">
        #{lockName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>